.logo {
    width: 150px;
}
body {
    background-color: #AED9A3;
}
.logo img{
    width: 100%;
}

.main {
    position: relative !important;
}
.login{
    position: absolute !important;
    top: 50% !important;
    margin-top: 7%;
    background-color: #FFFFFF;
    width: 90%;
    height: 75vh;
}

.imagen{
    width:500px;
    height: 60vh !important;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.register {
    text-align: center;
    margin-top: 20px;
}
.register span {
    color: #EA6161;;
    text-decoration-line:underline;
}
