.card-title {
    font-size: 1rem;
    font-weight: bold;
    color:  #3B8479;
    font-family: 'Gagalin', sans-serif;
    text-align: center;
}

.imagen-contenido-curso{
    position: relative;
    background-color: #3B8479;
    border-radius: 10px;
}

.imagen-curso{
    position: relative;
    padding-left: 10px 0;
    transform-origin: top left;
    transform: rotate(0deg);
    transition: 0.2s;
    padding: 5px;
    
}
.imagen-curso:hover{
    transform: rotate(4deg);
    
}
.imagen-curso:focus {
    transform: rotate(4deg);
}
