
.nav_bar{
  background-color: #ffffff;
}

.logo {
  max-width: 300px;
  min-width: 100px;
  position: absolute;
  top: 50px;
}
.ftadmin{
  width: 30px;
  height: 30px;
  top: 100px;

}
  aside {
    background: #FFFFFF;
    color: #333;
    justify-content:flex-end;
    padding-top: 0px;
    padding-right: 540px;
    width: 50%;
    display: flex;
  }

.btn-group-class {
  padding-left: 80px;
}

label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

.login {
    min-height: 100vh;
  }
  .login-heading {
    font-weight: 300;
  }
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  .invalid
  {
    border-color: red!important;
  }