<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Prowess Cursos</title>
</head>
<body>
    <div class="header">
        <div class="d-flex justify-content-lg-between mt-4 mx-4">
            <div class="logo">
                <img src="../assets/images/logo1.webp" alt="">
            </div>
            <div class="login">
                <a href="login.html" class="btn btn-success">Iniciar Sesion</a>
            </div>
        </div>
        <div class="nav-bar">
            
        </div>
    </div>
</body>
</html>