<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Prowess Cursos</title>
</head>
<body>
    <div class="header">
        <div class="d-flex justify-content-lg-between mt-4 mx-4">
            <div class="logo">
                <img src="../assets/images/logo1.webp" alt="">
            </div>
            <div class="login">
                <a href="login.html" class="btn btn-success">Iniciar Sesion</a>
            </div>
        </div>
        
        <nav class="mt-1 navbar navbar-expand-lg navbar-dark" style="background-color: #B2C6AD;">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Opcion 1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Opcion 2</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Opcion 3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Opcion 4</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Opcion 5</a>
                  </li>
                </ul>

              </div>
            </div>
          </nav>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center mt-5 gap-5">
            <div class="options card p-4"><h4>IMAGEN / TEXTO</h4></div>
            <div class="options card p-4"><h4>IMAGEN / TEXTO</h4></div>
            <div class="options card p-4"><h4>IMAGEN / TEXTO</h4></div>
        </div>
        
        
</body>
</html>